//***************************************
//    $EXTENDS
//***************************************


// -------------------------------------
// Text related
// -------------------------------------

  //Truncated text with ellipsis
  %truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  //Hidden text accesible for text-readers
  %reader-only {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }



// -------------------------------------
// Testing
// -------------------------------------
  %shoggoth {
    background: rgba(255,0,0,.5);
    border: 5px solid red;
  }

